@import url('_reset.css');
@font-face {
  font-family: 'todayshop-boldregular';
  src: url('./fonts/todayshop-bold-webfont.woff2') format('woff2'),
       url('./fonts/todayshop-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'todayshop-mediumregular';
  src: url('./fonts/todayshop-medium-webfont.woff2') format('woff2'),
       url('./fonts/todayshop-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Vars
$purple: #937fe1;
$mid-purple: #AF93F1;
$dark-purple: #521DA9;
$green: #e9f2df;
$dark-green: #1C4F06;
$orange: #ffecd6;
$dark-pink: #AC0C75;
$white: #fff;
$black: #000;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

body {
  width: 100%;
  height: 100%;
  background: $purple;
}

h2 {
  margin: 0.5rem auto;
  font-family: 'todayshop-boldregular';
  font-size: 1.25rem;
  letter-spacing: 0.05px;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: $white;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.50);
  @media screen and (min-width: $tablet) {
    margin: 2rem auto;
    font-size: 1.5rem;
  }
}

#wrapper {
  position: relative;
}

.content-header {
  width: 95%;
  max-width: 984px;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 1rem 0;
}

header {
  width: 100%;
  height: 50px;
  position: relative;
  justify-content: space-between;
  background: #E7E2FE;
  p {
    font-family: 'todayshop-mediumregular';
    font-size: 1rem;
    flex: 11;
    vertical-align: middle;
    color: $dark-purple;
  }
  .close-icon {
    width: 22px;
    height: 22px;
    position: relative;
    flex: 1;
    margin-top: -0.25rem;

    &:before, &:after {
      height: 23px;
      width: 2px;
      position: absolute;
      left: 1rem;
      vertical-align: middle;
      content: ' ';
      background: $purple;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.content {
  width: 90%;
  max-width: 690px;
  position: relative;
  margin: 0 auto;
  font-family: 'todayshop-boldregular';
  text-align: center;
  text-transform: uppercase;
}

.container-coupons {
  width: 100%;
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 257px;
    height: 110px;
    display: block;
    margin: 0.5rem auto 0.75rem;
    border-radius: 0.25rem;
    overflow: hidden;
    background: $white;

    @media screen and (min-width: $tablet) {
      width: 334px;
      height: 203px;
      margin: 0.5rem 0 0.75rem;
    }
  }

  .container-text-card {
    width: calc(100% - 58px);
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    p {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      letter-spacing: 0.48px;
      line-height: 19px;
      color: $black;
      @media screen and (min-width: $tablet) {
        font-size: 1.5rem;
        padding: 2rem 1rem;
      }
    }
    button {
      height: 28px;
      border-radius: 2px;
      font-size: 0.85rem;
      text-transform: uppercase;
      color: $white;
      @media screen and (min-width: $tablet) {
        width: 188px !important;
        font-size: 1.2rem !important;
        height: 38px;
      }
    }
  }

  .container-icon-card {
    width: 57px;
    height: 100%;
    position: relative;
    display: inline-block;
    float: right;

    img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

#container-play {
  button {
    width: 91px;
    background-image: linear-gradient(-180deg, #FF6BCA 0%, #FF78CF 42%, #FF00A8 100%);
    box-shadow: 0px 1px 1px 1px $dark-pink;
  }
}

#container-deposit {
  button {
    width: 145px;
    background-image: linear-gradient(-180deg, #86BA2B 0%, #2A740D 100%);
    box-shadow: 0px 1px 1px 1px $dark-green;
  }
}
